#n3 {
	height: 40px;
	display: block;
}

.focus > .select > .label {
	border: 1px solid #5E5E7B !important;
}

.select-wrapper {
	margin: auto;
	max-width: 600px;
	width: calc(100% - 40px);
}

.select,
.status {
	position: relative;
	z-index: 1;
}

.opened {
	z-index: 9;
}

.select > .options {
	background: #F2F2F8;
	border-radius: 0 0 20px 20px;
	box-sizing: border-box;
	color: #363b3e;
	left: 0;
	max-height: 0;
	overflow-y: scroll;
	position: absolute;
	top: 20px;
	width: 100%;
	transition: max-height 0.2s ease;

	:first-child {
		margin-top: 37px;
	}

	:last-child {
		margin-bottom: 20px;
	}
}

.status > .options {
	background: #F2F2F8;
	border-radius: 0 0 20px 20px;
	box-sizing: border-box;
	color: #363b3e;
	left: 0;
	max-height: 0;
	overflow-y: scroll;
	position: absolute;
	top: 20px;
	width: 100%;
	transition: max-height 0.2s ease;

	:first-child {
		margin-top: 37px;
		color: #FF003D;
	}

	:last-child {
		margin-bottom: 20px;
		color: #00F325;
	}
}

.opened .options {
	display: block;
	max-height: 222px;
}

.option {
	position: relative;
	box-sizing: border-box;
	height: 25px;
	line-height: 25px;
	color: #5E5E7B;
	margin: 6px 15px;
	cursor: pointer;
}

.option > .selected {
	color: #e4e4e4;
	cursor: initial;
	pointer-events: none;
}

.selected:after {
	content: "";
	position: absolute;
	right: 6px;
	top: 6px;
	width: 4px;
	height: 7px;
	border: solid #5E5E7B;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	border-radius: 1px;
	display: block;
}

.option--hidden {
	display: none;
}

.label {
	align-items: center;
	background: #fff;
	border: 1px solid #CFCFD7;
	box-sizing: border-box;
	border-radius: 20px;
	color: #363b3e;
	height: 40px;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-weight: 500;
	justify-content: left;
	min-height: 40px;
	padding-left: 15px;
	position: relative;
	transition: 0.2s;
	width: 100%;
	z-index: 9;
}

.red > .status > .label,
.red > .status > .placeholder {
	color: #FF003D !important;
}

.green > .status > .label,
.green > .status > .placeholder {
	color: #00F325 !important;
}

#status > .opened > .label:after {
	content: "";
	right: 29px;
	top: 15px;
	position: absolute;
	border: 5px solid transparent;
	border-top: 7px solid #5E5E7B;
}

.select > .label:after {
	content: "";
	right: 29px;
	top: 15px;
	position: absolute;
	border: 5px solid transparent;
	border-top: 7px solid #5E5E7B;
}

.opened > :nth-child(1) {
	background: #F2F2F8;
	border: 1px solid #5E5E7B;
}

.selected-label {
	background: #5e6264;
	border-radius: 4px;
	color: #fff;
	cursor: initial;
	display: inline-block;
	margin: 5px 10px 5px 0;
	padding: 3px 7px;
}

.selected-label:last-of-type {
	margin-right: 0;
}

.selected-label i {
	cursor: pointer;
	display: inline-block;
	margin-left: 7px;
}

.selected-label i:hover {
	color: #e4e4e4;
}

.autocomplete {
	background: #f9f9f8;
	border-bottom: 1px solid #e4e4e4;
	border-left: none;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
	font-size: 16px;
	outline: none;
	padding: 10px;
	width: 100%;
}

.select > .placeholder {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 14px;
	color: #D5D5DC;
	line-height: 20px;
	cursor: pointer;
	z-index: 9;
}

.status > .placeholder {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 14px;
	color: #5E5E7B;
	line-height: 20px;
	cursor: pointer;
	z-index: 9;
}

.hidden {
	display: none;
}

.options::-webkit-scrollbar {
	width: 30px;
}

.options::-webkit-scrollbar-button:start:decrement {
	height: 39px;
	display: block;
	background-color: transparent;
}

.options::-webkit-scrollbar-button:end:increment {
	height: 29px;
	display: block;
	background-color: transparent;
}

.options::-webkit-scrollbar-track {
	background: rgba(94, 94, 123, 0.5);
	border-left: 9px solid #F2F2F8;
	border-right: 19px solid #F2F2F8;
}

.options::-webkit-scrollbar-thumb {
	background: #6F6EFF;
	border-left: 7px solid #F2F2F8;
	border-right: 19px solid #F2F2F8;
}